/* ================================================================= */
/* 
   HEADER SECTION
*/

.header__container {
   display: flex;
   flex-direction: column;
   text-align: center;
   padding: .5em .5em 2em .5em;
   min-height: 15rem;
   justify-content: flex-end;
}
.header__title {
   font-size: 1.2em;
   font-weight: 600;
   color: var(--very-dark-blue);
}
.header__subtitle {
   font-size: 1.2em;
   font-weight: 200;
}
.header__description {
   padding: 1.5em;
   font-size: .7em;
}
/* ================================================================= */
@media (min-width: 40em) {
   .header__container {
      margin: 1em;
      min-height: 10em;
      padding: .5em;
   }
   .header__title {
      font-size: 2.2em;
   }
   .header__subtitle {
      font-size: 2.2em;
   }
   .header__description {
      padding: 1em;
      font-size: 1em;
   }
}
@media (min-width: 1048px) {
   .header__container {
      max-width: 42%
   }
}