/* ================================================================= */
/* 
   MAIN SECTION
*/
.main__container {
   display: grid;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   margin-bottom: 4em;
}

.section {
   border-radius: .4em;
   box-shadow: 1px 1px 1em .1em rgba(0,0,0, .2);
   padding: 2em;
   margin: .5em;
}

.card__title {
   color: var(--very-dark-blue);
   font-size: 1.1em;
}

.card__description {
   font-size: .7em
}

.figure__container {
   display: flex;
   padding: 2em 0 0 0;
   justify-content: flex-end;
}

.figure__item {
   width: 3rem;
   aspect-ratio: 1/1;
}

.supervisor {
   border-top: .3em solid var(--cyan);
}

.team-builder {
   border-top: .3em solid var(--red);
}

.karma {
   border-top: .3em solid var(--orange);
}

.calculator {
   border-top: .3em solid var(--blue);
}
/* ================================================================= */