@import url('header.css');
@import url('main.css');
@import url('footer.css');

:root {
   --red: hsl(0, 78%, 62%);
   --cyan: hsl(180, 62%, 55%);
   --orange: hsl(34, 97%, 64%);
   --blue: hsl(212, 86%, 64%);
   
   --very-dark-blue: hsl(234, 12%, 34%);
   --grayish-blue: hsl(229, 6%, 66%);
   --very-light-gray: hsl(0, 0%, 98%);

   --transparent-white: hsla(0, 0%, 100%, 0.75);
}

* {
   margin: 0;
   padding: 0;
   color: var(--grayish-blue);
   box-sizing: border-box;
}

body {
   min-height: 100vh;
   background-color: var(--very-light-gray);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-rendering: optimizeSpeed;
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
}

.visually__hidden {
   border: 0 !important;
   clip: rect(1px, 1px, 1px, 1px) !important;
   -webkit-clip-path: inset(50%) !important;
   clip-path: inset(50%) !important;
   height: 1px !important;
   overflow: hidden !important;
   margin: -1px !important;
   padding: 0 !important;
   position: absolute !important;
   width: 1px !important;
   white-space: nowrap !important;
}